.container{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 100px;
}

.input_container {
  position: relative;
  width:350px;
  font-size:20px;
  font-family: Arial, sans-serif;
}

.text_input {
  width: 100%;
  padding: 10px;
  font-size: inherit;
  font-family: inherit;
  background: transparent;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  border-radius: 5px;
  outline:none;
}

.ghost {
  position: absolute;
  top: 0;
  left: 0;
  padding:11px;
  font-size: inherit;
  font-family: inherit;
  color: gray;
  pointer-events: none;
  white-space: nowrap;
  z-index: 0;
  box-sizing: border-box;
}

.ghost span {
  color: #b0b0b0;
}
.searchResult{
  position: absolute;
  top:230px;
  width:300px;
  height:300px;
  border-radius: 5px;
  background-color:#dddddd;
  border: 1px solid #18181c;
  overflow-y: scroll;
  padding:3px;
}

::-webkit-scrollbar{
  width: 0;
  background: transparent;
}

.searchResult li{
  list-style-type: none;
  font-size:1.3rem;
  margin-bottom:12px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  padding: 5px;
}

.searchResult li:hover{
  background-color: rgba(196, 255, 255, 0.754);
  border-radius: 5px;
}

label{
  margin-bottom: 30px;
  font-size: 1.8rem;
}